.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information{
display: flex;
flex-direction: column;
width: 30%;
justify-content: center;
align-items: center;
margin: auto;
margin-bottom: 40px;
}

.information input{
width: 300px;
height: 50px;
font-size: 20px;
padding-left: 10px;
margin: 5px;
}

.information button{
width: 320px;
height: 50px;
margin-top: 15px;
}

.information button:hover{
cursor: pointer;
}

.site-title {
font-size: 40px;
padding-top: 20px;
padding-bottom: 20px;
margin: auto;
text-align: center;
color: white;
background-color: #A10022;
border-bottom: solid 5px #6D6E71;
padding: 50px 0 50px 0;
}

.proposals-table {
max-width: 70%;
margin: auto;
}

.departments-table {
max-width: 80%;
float: left;
margin-left: 20%;
}

.dashboard-container {
padding-top: 30px;
padding-bottom: 30px;
}

#nav-link {
font-size: 16px;
}

#dashboard-stat {
margin: 20px 0 10px 40px;
font-size: 25px;
font-kerning: 5px;
}

#dashboard-segment {
max-width: 60%;
margin: auto;
margin-bottom: 40px;
}

#page-title {
font-size: 30px;
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}

#add-proposal {
/* display: flex; */
justify-content: center;
}

#add-proposal input, select{
margin-bottom: 30px;
}

#add-proposal button {
margin-bottom: 30px;
}

#add-department{
max-width: 30%;
margin: auto;
float: right;
margin-right: 20%;
}

#add-department-header {
text-align: center;
}

#add-department button{
margin-top: 30px;
}

#add-department input{
margin-bottom: 30px;
}

#search-proposals {
  max-width: 30%;
  margin: auto;
  }
  
  #search-proposals input, select{
  margin-bottom: 30px;
  }
  
  #search-proposals button {
  margin-bottom: 30px;
  }
